* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

:root {
    --primary: green;
    --secondary: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    padding: 10px 0;
}

.start-game {
    display: inline-block;
    text-align: center;
    width: 100%
}

.start-game h2 {
    text-align: center;
    padding: 10px 0;
}

.start-game p {
    display: inline;
}

.start-game span {
    text-align: center;
    padding: 0 100px;
    font-size: 22px;
}

.lets-go {
    margin: 5px 20px;
}

.welcome {
    display: inline;
}

#head-tails {
    margin: 0 10px;
}

footer {
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
}