* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

:root {
    --primary: green;
    --secondary: white;
    --endgame: darkred;
    --error:  rgb(196, 8, 8);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    padding: 10px 0;
}

.start-game {
    display: inline-block;
    text-align: center;
    width: 100%
}

.start-game h2 {
    text-align: center;
    padding: 10px 0;
}

.start-game p {
    display: inline;
}

.start-game span {
    text-align: center;
    padding: 0 100px;
    font-size: 22px;
}

.welcome {
    font-weight: bolder;
}

.play-by-play {
    font-display: inline;
}

#fg {
    margin: 0;
}

.play-by-play p {
    margin: 5px 20px;
}

#head-tails {
    margin: 0 20px;
}

.play-by-play span {
    color: var(--error);
}

.end-game {
    text-align: center;
    color: var(--endgame);
}

footer {
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
}